<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Sa fie lumina - Harta</title>
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css"/>
  </head>
  <body>
    <img src="menu-sfl.png" class="menu"/>
    <div id="main-container">
      <div id="map-container"></div> 
      <div id="separator"></div>   
      <div id="details">
        <img src="detalii-sfl.png" class="details details-PH"/>
        <img src="detalii-sfl-tara.png" class="details details-ALL"/>
      </div>
      <div style="clear:both"></div>
    </div>
    <img src="CTA-sfl.png" class="footer"/>
    <div id="tooltip">
      <div class="head">
        <span class="county-name">Prahova:</span>
        <span class="county-total">800.000 Lei</span>
      </div>
      <p><span class="county-replies">60/140</span> unitati administrative</p>
    </div>      
  </body>
</html>